<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myblog.blog.dao.BackgroundMapper">

    <resultMap id="BaseResultMap" type="com.myblog.blog.model.Background">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="imgurl" jdbcType="VARCHAR" property="imgurl"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, imgurl
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_background
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_background
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.myblog.blog.model.Background">
        insert into t_background (id, imgurl)
        values (#{id,jdbcType=BIGINT}, #{imgurl,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.myblog.blog.model.Background">
        insert into t_background
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="imgurl != null">
                imgurl,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="imgurl != null">
                #{imgurl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.myblog.blog.model.Background">
        update t_background
        <set>
            <if test="imgurl != null">
                imgurl = #{imgurl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.myblog.blog.model.Background">
        update t_background
        set imgurl = #{imgurl,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--自定义查询-->
    <select id="selectByUrl" resultType="Integer">
        select count(id)
        from t_background
        where imgurl = #{url}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_background order by id desc
    </select>

    <!--查询更多图片-->
    <select id="selectAllLimit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_background order by id desc limit 0,#{count}
    </select>

    <!--查询条数-->
    <select id="selectCount" resultType="Integer">
        select count(id) from t_background
    </select>


</mapper>
